<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.yedam.spring.board.mapper.BoardMapper">
  	<!-- 전체조회 -->
  	<select id="selectBaordList" resultType="BoardVO">
		SELECT bno, title, contents, writer, regdate, updatedate, image
  	  	  FROM board
  	 	 ORDER BY bno
	</select>
  	
  	<!-- 단건조회 : 조건 1) 글 번호 2)작가 (작가로도, 글번호로도 검색가능)-->
  	<select id="selectBoardInfo" resultType="BoardVO">
		SELECT bno, title, contents, writer, regdate, updatedate, image
  	  	  FROM board
  	  	  
  	  	<!-- where절에서는 순서가 중요함 -->
  	  	<!-- 두개의 조건 이상일때는 꼭 있어야 하는 조건이 맨 아래로 가도록 -->  
  	  	<where>
  	  		<if test="writer != null AND !writer.equals('')">
				writer=#{writer} AND
			</if>
			<if test="bno > 0"> <!-- bno는 기본값이 0임 -->
				bno = #{bno}
			</if>
		</where>
  	 	 ORDER BY bno
	</select>
	
  	<!-- 입력될 게시글 번호 조회 : 등록할 게시글 값을 미리 보여줌 -->
  	<select id="getBoardNo" resultType="BoardVO">
  		<!-- 최초 등록할땐 max값이 null값이라서 null에 대해서 처리 해주는 nvl을 항상 같이 사용해줘야함 -->
  		<!-- 독립되어서 처리할게 많다면 새로운 VO에 생성 -->
  		<!-- 기존의 VO로 대체가 가능하다면 별칭을 붙여서 저장 -->
  		<!-- 별칭이 없다면 BoardVO의 어디에 값을 넣을지 모르기 때문에 별칭은 꼭 존재해야함 -->
  		SELECT NVL(MAX(bno), 0) + 1 as bno
  		  FROM board
  	</select>
  	<!-- 등록 : 필수와 선택 구분 칼럼을 기반으로 해서 -->
  	<insert id="insertBoard" parameterType="BoardVO">
		INSERT INTO board (
							bno
							, title
							, contents
							, writer
							<!-- insert에서 if절은 into절이랑 values절이랑 칼럼 위치가 똑같아야함 -->
							<if test="regdate != null">
							, regdate
							</if>
							<if test="image != null and !image.equals('')">
							, image
							</if>
							)
					VALUES (
							#{bno}
							, #{title}
							, #{contents}
							, #{writer}
							<!-- date타입 일때는 null조건만 체크 하면됨 -->
							<if test="regdate != null">
							, #{regdate}
							</if>
							<!-- String타입 일때는 null일때와 공백일때를 같이 체크 해줘야함 -->
							<if test="image != null and !image.equals('')">
							, #{image}
							</if>
						   )
	
	</insert>
  	
  	<!-- 수정 : 대상(제목, 내용, 이미지, 수정날짜) -> 필수조건 입력을 받은경우 받지못한경우 -->
  	<update id="updateBoard" parameterType="BoardVO">
		UPDATE board
		<set>
			<if test="title != null and !title.equals('')">
				title = #{title},
			</if>
			<if test="contents != null and !contents.equals('')">
				contents = #{contents},
			</if>
			<if test="image != null and !image.equals('')">
				image = #{image},
			</if>
			<!-- 무조건 존재해야 하는 값 언제 수정을 했는지 기록되기 때문에 -->
			<!-- 수정 날짜에 대해서 입력 받을때는 입력받은 값을 기반으로 등록 -->
			<if test="updatedate != null">
				updatedate = #{updatedate}
			</if>
			<!-- 수정 날짜를 입력하지 않았을때는 테이블에 default조건이 있기 때문에 sysdate가 자동으로 작동해서 들어가는 경우 -->
			<if test="updatedate == null">
				updatedate = sysdate
			</if>
		</set>
		WHERE bno = #{bno}
	</update>
  	<!-- 삭제 -->
  	<!-- 넘어가는 값이 하나기 때문에 자동으로 입력됨 -->
  	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board
		WHERE bno = #{bno}
	</delete>
  </mapper>